.board {
  text-align: center;
}


.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.square {
  border: 2px solid #393E46;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.square.selected {
  cursor: not-allowed;
}