.board {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}


.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.turn {
  display: flex;
  justify-content: center;
  gap: 15px;
}