.board {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.reset {
  background-color: transparent;
  color: #DFD0B8;
  border: 2px solid #393E46;
  padding: 10px 35px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.reset:hover {
  background-color: #393E46;
  transition: 0.2s;
}

.reset:active {
  background-color: transparent;
  box-shadow: none;
}


.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.turn {
  display: flex;
  justify-content: center;
  gap: 15px;
}